* text=auto !eol
/LICENSE -text
/NOTICE -text
/build -text
/clean -text
lib/ScalaCheck-1.4dev.jar -text
lib/ivy-2.0.0-rc2.jar -text
lib/scalatest-0.9.3.jar -text
lib/specs-1.4.0.jar -text
licenses/LICENSE_Apache -text
licenses/LICENSE_Scala -text
licenses/LICENSE_ScalaCheck -text
licenses/LICENSE_sbt -text
licenses/LICENSE_specs -text
sbt/Analysis.scala -text
sbt/AnalysisCallback.scala -text
sbt/Analyzer.scala -text
sbt/BuilderProject.scala -text
sbt/ClasspathUtilities.scala -text
sbt/Compile.scala -text
sbt/Conditional.scala -text
sbt/Dag.scala -text
sbt/DefaultProject.scala -text
sbt/DotGraph.scala -text
sbt/FileUtilities.scala -text
sbt/LineReader.scala -text
sbt/Logger.scala -text
sbt/Main.scala -text
sbt/ManageDependencies.scala -text
sbt/ModuleUtilities.scala -text
sbt/NameFilter.scala -text
sbt/Parallel.scala -text
sbt/Path.scala -text
sbt/Project.scala -text
sbt/ProjectInfo.scala -text
sbt/ReflectUtilities.scala -text
sbt/Run.scala -text
sbt/ScalaProject.scala -text
sbt/TaskManager.scala -text
sbt/TestFramework.scala -text
sbt/TrapExit.scala -text
sbt/Version.scala -text
/scalac-plugin.xml -text
