* text=auto !eol
/LICENSE -text
/NOTICE -text
boot/LICENSE -text
boot/NOTICE -text
boot/lib/jline-0.9.94.jar -text
boot/licenses/LICENSE_Ivy -text
boot/licenses/LICENSE_JLine -text
boot/licenses/LICENSE_Scala -text
boot/src/main/scala/Boot.scala -text
boot/src/main/scala/BootConfiguration.scala -text
boot/src/main/scala/FilteredLoader.scala -text
boot/src/main/scala/ProjectProperties.scala -text
boot/src/main/scala/SimpleReader.scala -text
boot/src/main/scala/Update.scala -text
install/extract/src/main/scala/Main.scala -text
install/plugin/src/main/scala/SelfExtractingProject.scala -text
install/project/build.properties -text
install/project/build/InstallProject.scala -text
/ivysettings.xml -text
licenses/LICENSE_Apache -text
licenses/LICENSE_Scala -text
licenses/LICENSE_ScalaCheck -text
licenses/LICENSE_jdepend -text
licenses/LICENSE_sbt -text
licenses/LICENSE_specs -text
project/build.properties -text
project/build/CrossCompileProject.scala -text
project/build/LoaderProject.scala -text
project/build/ReleaseProject.scala -text
project/build/SbtProject.scala -text
project/plugins/Plugins.scala -text
scripted/project/build.properties -text
scripted/project/build/SbtTest.scala -text
scripted/src/main/scala/Scripted.scala -text
scripted/src/main/scala/ScriptedLogger.scala -text
scripted/src/main/scala/ScriptedTests.scala -text
scripted/src/main/scala/TestScriptParser.scala -text
src/main/resources/scalac-plugin.xml -text
src/main/scala/sbt/Analysis.scala -text
src/main/scala/sbt/AnalysisCallback.scala -text
src/main/scala/sbt/Analyzer.scala -text
src/main/scala/sbt/AutoCompilerPlugins.scala -text
src/main/scala/sbt/BasicProjectTypes.scala -text
src/main/scala/sbt/BuilderProject.scala -text
src/main/scala/sbt/ClasspathUtilities.scala -text
src/main/scala/sbt/Compile.scala -text
src/main/scala/sbt/Conditional.scala -text
src/main/scala/sbt/Control.scala -text
src/main/scala/sbt/Dag.scala -text
src/main/scala/sbt/DefaultProject.scala -text
src/main/scala/sbt/DotGraph.scala -text
src/main/scala/sbt/Environment.scala -text
src/main/scala/sbt/ExitHook.scala -text
src/main/scala/sbt/FileTask.scala -text
src/main/scala/sbt/FileUtilities.scala -text
src/main/scala/sbt/Fork.scala -text
src/main/scala/sbt/Format.scala -text
src/main/scala/sbt/Hash.scala -text
src/main/scala/sbt/IntegrationTesting.scala -text
src/main/scala/sbt/LineReader.scala -text
src/main/scala/sbt/Logger.scala -text
src/main/scala/sbt/Main.scala -text
src/main/scala/sbt/ManageDependencies.scala -text
src/main/scala/sbt/ManagedInterface.scala -text
src/main/scala/sbt/ModuleUtilities.scala -text
src/main/scala/sbt/NameFilter.scala -text
src/main/scala/sbt/Pack.scala -text
src/main/scala/sbt/ParallelRunner.scala -text
src/main/scala/sbt/Path.scala -text
src/main/scala/sbt/Process.scala -text
src/main/scala/sbt/Project.scala -text
src/main/scala/sbt/ProjectInfo.scala -text
src/main/scala/sbt/ProjectPaths.scala -text
src/main/scala/sbt/ReflectUtilities.scala -text
src/main/scala/sbt/Resources.scala -text
src/main/scala/sbt/Run.scala -text
src/main/scala/sbt/ScalaProject.scala -text
src/main/scala/sbt/ScalaVersion.scala -text
src/main/scala/sbt/SourceModificationWatch.scala -text
src/main/scala/sbt/TaskManager.scala -text
src/main/scala/sbt/TestFramework.scala -text
src/main/scala/sbt/TestReportListener.scala -text
src/main/scala/sbt/TrapExit.scala -text
src/main/scala/sbt/Version.scala -text
src/main/scala/sbt/WebApp.scala -text
src/main/scala/sbt/Webstart.scala -text
src/main/scala/sbt/classfile/Analyze.scala -text
src/main/scala/sbt/classfile/ClassFile.scala -text
src/main/scala/sbt/classfile/Parser.scala -text
src/main/scala/sbt/impl/CommandParser.scala -text
src/main/scala/sbt/impl/ConvertResolver.scala -text
src/main/scala/sbt/impl/ManagedImpl.scala -text
src/main/scala/sbt/impl/MapUtilities.scala -text
src/main/scala/sbt/impl/ProcessImpl.scala -text
src/main/scala/sbt/impl/RunTask.scala -text
src/main/scala/sbt/impl/SelectMainClass.scala -text
src/main/scala/sbt/impl/TestFrameworkImpl.scala -text
src/main/scala/sbt/impl/TestParser.scala -text
src/main/scala/sbt/impl/TestStatusReporter.scala -text
src/main/scala/sbt/wrap/Wrappers.scala -text
src/sbt-test/actions/interactive/changes/TestProject2.scala -text
src/sbt-test/actions/interactive/changes/TestProject3.scala -text
src/sbt-test/actions/interactive/changes/TestProject4.scala -text
src/sbt-test/actions/interactive/changes/TestProject5.scala -text
src/sbt-test/actions/interactive/changes/TestProject6.scala -text
src/sbt-test/actions/interactive/changes/TestProject7.scala -text
src/sbt-test/actions/interactive/project/build.properties -text
src/sbt-test/actions/interactive/project/build/src/Marker.scala -text
src/sbt-test/actions/interactive/project/build/src/TestProject.scala -text
src/sbt-test/actions/interactive/test -text
src/sbt-test/compiler-project/run-test/project/build.properties -text
src/sbt-test/compiler-project/run-test/project/build/src/TestProject.scala -text
src/sbt-test/compiler-project/run-test/src/main/scala/Foo.scala -text
src/sbt-test/compiler-project/run-test/src/test/scala/FooTest.scala -text
src/sbt-test/compiler-project/run-test/test -text
src/sbt-test/dependency-management/classifier/project/build.properties -text
src/sbt-test/dependency-management/classifier/project/build/Test.scala -text
src/sbt-test/dependency-management/classifier/test -text
src/sbt-test/dependency-management/exclude-transitive/project/build.properties -text
src/sbt-test/dependency-management/exclude-transitive/project/build/src/TestProject.scala -text
src/sbt-test/dependency-management/exclude-transitive/test -text
src/sbt-test/dependency-management/extra/changes/UseColor.scala -text
src/sbt-test/dependency-management/extra/changes/blue -text
src/sbt-test/dependency-management/extra/changes/build.properties -text
src/sbt-test/dependency-management/extra/changes/color -text
src/sbt-test/dependency-management/extra/changes/red -text
src/sbt-test/dependency-management/extra/project/build.properties -text
src/sbt-test/dependency-management/extra/project/build/DefineColor.scala -text
src/sbt-test/dependency-management/extra/test -text
src/sbt-test/dependency-management/inherit-repo/changes/CorrectProject.scala -text
src/sbt-test/dependency-management/inherit-repo/changes/CorrectProject2.scala -text
src/sbt-test/dependency-management/inherit-repo/changes/CorrectProject3.scala -text
src/sbt-test/dependency-management/inherit-repo/project/build.properties -text
src/sbt-test/dependency-management/inherit-repo/project/build/src/TestProject.scala -text
src/sbt-test/dependency-management/inherit-repo/test -text
src/sbt-test/dependency-management/inline-default/project/build.properties -text
src/sbt-test/dependency-management/inline-default/project/build/src/TestProject.scala -text
src/sbt-test/dependency-management/inline-default/test -text
src/sbt-test/dependency-management/inline-dependencies-a/project/build.properties -text
src/sbt-test/dependency-management/inline-dependencies-a/project/build/src/UpdateTestProject.scala -text
src/sbt-test/dependency-management/inline-dependencies-a/test -text
src/sbt-test/dependency-management/ivy-settings-a/changes/scala-tools-ivysettings.xml -text
src/sbt-test/dependency-management/ivy-settings-a/changes/scalacheck-ivy.xml -text
src/sbt-test/dependency-management/ivy-settings-a/ivy.xml -text
src/sbt-test/dependency-management/ivy-settings-a/ivysettings.xml -text
src/sbt-test/dependency-management/ivy-settings-a/project/build.properties -text
src/sbt-test/dependency-management/ivy-settings-a/test -text
src/sbt-test/dependency-management/ivy-settings-b/changes/scala-tools-ivysettings.xml -text
src/sbt-test/dependency-management/ivy-settings-b/ivysettings.xml -text
src/sbt-test/dependency-management/ivy-settings-b/project/build.properties -text
src/sbt-test/dependency-management/ivy-settings-b/project/build/src/UpdateTestProject.scala -text
src/sbt-test/dependency-management/ivy-settings-b/test -text
src/sbt-test/dependency-management/java.net/project/build.properties -text
src/sbt-test/dependency-management/java.net/project/build/src/TestProject.scala -text
src/sbt-test/dependency-management/java.net/test -text
src/sbt-test/dependency-management/module-confs/changes/WrongOrg.scala -text
src/sbt-test/dependency-management/module-confs/changes/WrongPattern.scala -text
src/sbt-test/dependency-management/module-confs/changes/WrongVersion.scala -text
src/sbt-test/dependency-management/module-confs/project/build.properties -text
src/sbt-test/dependency-management/module-confs/project/build/Test.scala -text
src/sbt-test/dependency-management/module-confs/test -text
src/sbt-test/dependency-management/parent-ivy-settings/changes/ivysettings.xml -text
src/sbt-test/dependency-management/parent-ivy-settings/project/build.properties -text
src/sbt-test/dependency-management/parent-ivy-settings/project/build/SettingsTest.scala -text
src/sbt-test/dependency-management/parent-ivy-settings/test -text
src/sbt-test/dependency-management/parent-publish/project/build.properties -text
src/sbt-test/dependency-management/parent-publish/project/build/Parent.scala -text
src/sbt-test/dependency-management/parent-publish/test -text
src/sbt-test/dependency-management/provided/project/build.properties -text
src/sbt-test/dependency-management/provided/project/build/src/TestProject.scala -text
src/sbt-test/dependency-management/provided/test -text
src/sbt-test/dependency-management/publish-local/project/build.properties -text
src/sbt-test/dependency-management/publish-local/project/build/MultiPublishTest.scala -text
src/sbt-test/dependency-management/publish-local/test -text
src/sbt-test/dependency-management/url/project/build.properties -text
src/sbt-test/dependency-management/url/project/build/src/TestProject.scala -text
src/sbt-test/dependency-management/url/test -text
src/sbt-test/java/analysis/project/build.properties -text
src/sbt-test/java/analysis/src/main/java/test/R.java -text
src/sbt-test/java/analysis/test -text
src/sbt-test/java/basic/project/build.properties -text
src/sbt-test/java/basic/src/main/java/test/R.java -text
src/sbt-test/java/basic/src/main/scala/S.scala -text
src/sbt-test/java/basic/test -text
src/sbt-test/java/options/project/build.properties -text
src/sbt-test/java/options/project/build/src/JavaProject.scala -text
src/sbt-test/java/options/src/main/java/test/R.java -text
src/sbt-test/java/options/src/main/scala/S.scala -text
src/sbt-test/java/options/test -text
src/sbt-test/java/separate/project/build.properties -text
src/sbt-test/java/separate/project/build/src/TestProject.scala -text
src/sbt-test/java/separate/src/main/java/F.java -text
src/sbt-test/java/separate/src/main/scala/Dual.scala -text
src/sbt-test/java/separate/src/main/scala/FImpl.scala -text
src/sbt-test/java/separate/test -text
src/sbt-test/java/track-anonymous/changes/Anon.java -text
src/sbt-test/java/track-anonymous/project/build.properties -text
src/sbt-test/java/track-anonymous/project/build/AnonTest.scala -text
src/sbt-test/java/track-anonymous/test -text
src/sbt-test/package/lazy-name/project/build.properties -text
src/sbt-test/package/lazy-name/test -text
src/sbt-test/package/manifest/project/build.properties -text
src/sbt-test/package/manifest/project/build/src/ManifestTestProject.scala -text
src/sbt-test/package/manifest/src/main/scala/jartest/Main.scala -text
src/sbt-test/package/manifest/test -text
src/sbt-test/package/resources/project/build.properties -text
src/sbt-test/package/resources/project/build/src/ManifestTestProject.scala -text
src/sbt-test/package/resources/src/main/resources/main_resource_test -text
src/sbt-test/package/resources/src/main/scala/jartest/Main.scala -text
src/sbt-test/package/resources/test -text
src/sbt-test/project/Class.forName/changes/LibTestProject.scala -text
src/sbt-test/project/Class.forName/project/build.properties -text
src/sbt-test/project/Class.forName/src/main/scala/Test.scala -text
src/sbt-test/project/Class.forName/test -text
src/sbt-test/project/flatten/project/build.properties -text
src/sbt-test/project/flatten/project/build/src/FlatProject.scala -text
src/sbt-test/project/flatten/src/JavaA.java -text
src/sbt-test/project/flatten/src/ScalaA.scala -text
src/sbt-test/project/flatten/src/a/JavaB.java -text
src/sbt-test/project/flatten/src/a/ScalaB.scala -text
src/sbt-test/project/flatten/src/a/test-resource-a -text
src/sbt-test/project/flatten/src/test-resource -text
src/sbt-test/project/flatten/test -text
src/sbt-test/project/flatten/test-src/SimpleTest.scala -text
src/sbt-test/project/flatten/test-src/c/ResourcesTest.scala -text
src/sbt-test/project/flatten/test-src/c/test-resource-c -text
src/sbt-test/project/flatten/test-src/test-resource -text
src/sbt-test/project/lib/changes/LibTestProject.scala -text
src/sbt-test/project/lib/project/build.properties -text
src/sbt-test/project/lib/src/main/scala/Test.scala -text
src/sbt-test/project/lib/test -text
src/sbt-test/project/multi/changes/MultiProject.scala -text
src/sbt-test/project/multi/changes/SingleAndTraitProject.scala -text
src/sbt-test/project/multi/changes/SingleProject.scala -text
src/sbt-test/project/multi/changes/SinglePublicProject.scala -text
src/sbt-test/project/multi/project/build.properties -text
src/sbt-test/project/multi/test -text
src/sbt-test/project/plugins/project/build.properties -text
src/sbt-test/project/plugins/project/build/UsePlugin.scala -text
src/sbt-test/project/plugins/project/plugins/Plugins.scala -text
src/sbt-test/project/plugins/test -text
src/sbt-test/properties/multi-project-a/project/build.properties -text
src/sbt-test/properties/multi-project-a/project/build/src/TestProject.scala -text
src/sbt-test/properties/multi-project-a/test -text
src/sbt-test/properties/multi-project-b/project/build.properties -text
src/sbt-test/properties/multi-project-b/project/build/src/TestProject.scala -text
src/sbt-test/properties/multi-project-b/test -text
src/sbt-test/run/daemon-exit/project/build.properties -text
src/sbt-test/run/daemon-exit/src/main/scala/Daemon.scala -text
src/sbt-test/run/daemon-exit/test -text
src/sbt-test/run/daemon/project/build.properties -text
src/sbt-test/run/daemon/src/main/scala/Daemon.scala -text
src/sbt-test/run/daemon/test -text
src/sbt-test/run/error/changes/RunFailureMain.scala -text
src/sbt-test/run/error/changes/RunSuccess.scala -text
src/sbt-test/run/error/changes/ThreadRunError.scala -text
src/sbt-test/run/error/project/build.properties -text
src/sbt-test/run/error/test -text
src/sbt-test/run/spawn-exit/project/build.properties -text
src/sbt-test/run/spawn-exit/src/main/scala/Spawn.scala -text
src/sbt-test/run/spawn-exit/test -text
src/sbt-test/run/spawn/project/build.properties -text
src/sbt-test/run/spawn/src/main/scala/Spawn.scala -text
src/sbt-test/run/spawn/test -text
src/sbt-test/source-dependencies/added/changes/A1.scala -text
src/sbt-test/source-dependencies/added/changes/A2.scala -text
src/sbt-test/source-dependencies/added/changes/A3.scala -text
src/sbt-test/source-dependencies/added/changes/B1.scala -text
src/sbt-test/source-dependencies/added/changes/B2.scala -text
src/sbt-test/source-dependencies/added/project/build.properties -text
src/sbt-test/source-dependencies/added/test -text
src/sbt-test/source-dependencies/empty-a/changes/A.scala -text
src/sbt-test/source-dependencies/empty-a/changes/A2.scala -text
src/sbt-test/source-dependencies/empty-a/changes/B.scala -text
src/sbt-test/source-dependencies/empty-a/project/build.properties -text
src/sbt-test/source-dependencies/empty-a/test -text
src/sbt-test/source-dependencies/java-basic/changes/A.java -text
src/sbt-test/source-dependencies/java-basic/changes/A2.java -text
src/sbt-test/source-dependencies/java-basic/changes/B1.java -text
src/sbt-test/source-dependencies/java-basic/changes/B2.java -text
src/sbt-test/source-dependencies/java-basic/changes/B3.java -text
src/sbt-test/source-dependencies/java-basic/project/build.properties -text
src/sbt-test/source-dependencies/java-basic/test -text
src/sbt-test/source-dependencies/java-static/changes/J1.java -text
src/sbt-test/source-dependencies/java-static/changes/J2.java -text
src/sbt-test/source-dependencies/java-static/changes/S.scala -text
src/sbt-test/source-dependencies/java-static/project/build.properties -text
src/sbt-test/source-dependencies/java-static/test -text
src/sbt-test/source-dependencies/new-cyclic/changes/A2.scala -text
src/sbt-test/source-dependencies/new-cyclic/project/build.properties -text
src/sbt-test/source-dependencies/new-cyclic/src/main/scala/A.scala -text
src/sbt-test/source-dependencies/new-cyclic/src/main/scala/B.scala -text
src/sbt-test/source-dependencies/new-cyclic/test -text
src/sbt-test/source-dependencies/remove-test-a/changes/1.scala -text
src/sbt-test/source-dependencies/remove-test-a/project/build.properties -text
src/sbt-test/source-dependencies/remove-test-a/test -text
src/sbt-test/source-dependencies/remove-test-b/changes/A2.scala -text
src/sbt-test/source-dependencies/remove-test-b/changes/B3.scala -text
src/sbt-test/source-dependencies/remove-test-b/changes/B4.scala -text
src/sbt-test/source-dependencies/remove-test-b/changes/B5.scala -text
src/sbt-test/source-dependencies/remove-test-b/project/build.properties -text
src/sbt-test/source-dependencies/remove-test-b/src/main/scala/A.scala -text
src/sbt-test/source-dependencies/remove-test-b/src/main/scala/B.scala -text
src/sbt-test/source-dependencies/remove-test-b/test -text
src/sbt-test/source-dependencies/replace-test-a/changes/first.scala -text
src/sbt-test/source-dependencies/replace-test-a/changes/second.scala -text
src/sbt-test/source-dependencies/replace-test-a/project/build.properties -text
src/sbt-test/source-dependencies/replace-test-a/project/build/src/TestProject.scala -text
src/sbt-test/source-dependencies/replace-test-a/test -text
src/sbt-test/source-dependencies/transitive-a/changes/A2.scala -text
src/sbt-test/source-dependencies/transitive-a/project/build.properties -text
src/sbt-test/source-dependencies/transitive-a/src/main/scala/A.scala -text
src/sbt-test/source-dependencies/transitive-a/src/main/scala/B.scala -text
src/sbt-test/source-dependencies/transitive-a/src/main/scala/C.scala -text
src/sbt-test/source-dependencies/transitive-a/test -text
src/sbt-test/source-dependencies/transitive-b/changes/A2.scala -text
src/sbt-test/source-dependencies/transitive-b/project/build.properties -text
src/sbt-test/source-dependencies/transitive-b/src/main/scala/A.scala -text
src/sbt-test/source-dependencies/transitive-b/src/main/scala/B.scala -text
src/sbt-test/source-dependencies/transitive-b/src/main/scala/C.scala -text
src/sbt-test/source-dependencies/transitive-b/test -text
src/sbt-test/tests/Class.forName/ivy.xml -text
src/sbt-test/tests/Class.forName/project/build.properties -text
src/sbt-test/tests/Class.forName/src/main/scala/Test.scala -text
src/sbt-test/tests/Class.forName/src/test/scala/Test.scala -text
src/sbt-test/tests/Class.forName/test -text
src/sbt-test/tests/extend/changes/ScalaCheck.scala -text
src/sbt-test/tests/extend/changes/TestFailure.scala -text
src/sbt-test/tests/extend/changes/TestProject2.scala -text
src/sbt-test/tests/extend/changes/TestProject3.scala -text
src/sbt-test/tests/extend/changes/TestSuccess.scala -text
src/sbt-test/tests/extend/project/build.properties -text
src/sbt-test/tests/extend/project/build/src/TestProject.scala -text
src/sbt-test/tests/extend/test -text
src/sbt-test/tests/resources/ivy.xml -text
src/sbt-test/tests/resources/project/build.properties -text
src/sbt-test/tests/resources/src/main/resources/MainResource.txt -text
src/sbt-test/tests/resources/src/test/resources/TestResource.txt -text
src/sbt-test/tests/resources/src/test/scala/BasicTest.scala -text
src/sbt-test/tests/resources/test -text
src/sbt-test/tests/scalacheck-a/changes/BasicTest.scala -text
src/sbt-test/tests/scalacheck-a/changes/FailedTest.scala -text
src/sbt-test/tests/scalacheck-a/project/build.properties -text
src/sbt-test/tests/scalacheck-a/project/build/src/TestProject.scala -text
src/sbt-test/tests/scalacheck-a/src/test/scala/DummyTest.scala -text
src/sbt-test/tests/scalacheck-a/test -text
src/sbt-test/tests/scalatest-ignore/project/build.properties -text
src/sbt-test/tests/scalatest-ignore/project/build/Test.scala -text
src/sbt-test/tests/scalatest-ignore/src/test/scala/IgnoreTest.scala -text
src/sbt-test/tests/scalatest-ignore/test -text
src/sbt-test/tests/specs-a/changes/BasicTest.scala -text
src/sbt-test/tests/specs-a/changes/FailTest.scala -text
src/sbt-test/tests/specs-a/project/build.properties -text
src/sbt-test/tests/specs-a/project/build/src/TestProject.scala -text
src/sbt-test/tests/specs-a/src/test/scala/DummyTest.scala -text
src/sbt-test/tests/specs-a/test -text
src/sbt-test/tests/specs-nested/project/build.properties -text
src/sbt-test/tests/specs-nested/project/build/src/TestProject.scala -text
src/sbt-test/tests/specs-nested/src/test/scala/TestSpecification.scala -text
src/sbt-test/tests/specs-nested/test -text
src/sbt-test/tests/test-failed/changes/Fail.scala -text
src/sbt-test/tests/test-failed/changes/Success.scala -text
src/sbt-test/tests/test-failed/project/build.properties -text
src/sbt-test/tests/test-failed/project/build/TestQuickProject.scala -text
src/sbt-test/tests/test-failed/test -text
src/sbt-test/web/jsp/project/build.properties -text
src/sbt-test/web/jsp/project/build/JSP.scala -text
src/sbt-test/web/jsp/src/main/webapp/index.jsp -text
src/sbt-test/web/jsp/test -text
src/test/scala/sbt/DagSpecification.scala -text
src/test/scala/sbt/EnvironmentSpecification.scala -text
src/test/scala/sbt/FileUtilitiesSpecification.scala -text
src/test/scala/sbt/NameFilterSpecification.scala -text
src/test/scala/sbt/PathSpecification.scala -text
src/test/scala/sbt/ProcessSpecification.scala -text
src/test/scala/sbt/ReflectSpecification.scala -text
src/test/scala/sbt/TestedProcess.scala -text
src/test/scala/sbt/VersionSpecification.scala -text
src/test/scala/sbt/wrap/MutableSetWrapper.scala -text
